ktor:
  application:
    modules:
      - com.ead.katalyst.example.ApplicationKt.module
  deployment:
    port: 8080
postgres:
  url: "jdbc:postgresql://localhost/default"
  user: username
  password: password
jwt:
  issuer: "katalyst-example"
  audience: "katalyst-users"
  secret: "local-secret"
  realm: "KatalystExample"
